@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Кадастровое управление</h1>
    <p class="lead">Автоматизированная система учета объектов недвижимости и обработки заявок.</p>
    @if (Session["UserId"] == null)
    {
        <p><a href="/Account/Login" class="btn btn-primary btn-lg">Войти в систему &raquo;</a></p>
    }
    else
    {
        <p><a href="/Home/Index" class="btn btn-success btn-lg">Добро пожаловать, @Session["UserFullName"] &raquo;</a></p>
    }
</div>